
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-6 offset-md-3">-->
<!--      <h3>Choose File</h3>-->
<!--      <div class="form-group">-->
<!--        <input type="file" name="image" (change)="fileProgress($event)" />-->
<!--      </div>-->
<!--&lt;!&ndash;      <div class="image-preview mb-3" *ngIf="stringImage">&ndash;&gt;-->
<!--&lt;!&ndash;        <img [src]="stringImage" height="300" />&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->

<!--&lt;!&ndash;      <div class="mb-3" *ngIf="uploadedFilePath">&ndash;&gt;-->
<!--&lt;!&ndash;        {{uploadedFilePath}}&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container">
<div (load)='draw()'>

  <canvas #myCanvas width="500" height="500" id='canvas'>
  </canvas>
  <div class="form-group">
    <button  class="btn btn-primary" (click)="submitUser()">Proceed</button>

  </div>
  <div class="alert alert-warning" *ngIf="isSignUpFailed">
    Signup failed!<br />{{ errorMessage }}
  </div>
  <div class="alert alert-success" *ngIf="isSuccessful">
    Your registration is successful!
  </div>
</div>
</div>
