<div (load)='draw()'>

  <canvas #myCanvas width="500" height="500" id='canvas'>
  </canvas>
  <div class="form-group">
    <button  class="btn btn-primary" (click)="loginUser()">Proceed</button>

  </div>

<!--  <div class="image-preview mb-3" *ngIf="stringImage">-->
<!--    <img [src]="stringImage" height="300" />-->
<!--  </div>-->
  <div class="alert alert-success" *ngIf="isLoggedIn">
    Logged in as {{ roles }}.
  </div>
  <div class="alert alert-danger" *ngIf="isLoginFailed">
     {{ errorMessage }}.
  </div>

</div>
